<div class="display-inline-block position-absolute top-0 end-0 mt-2 me-2">
  <!-- weather-card.component.html -->
  <!-- weather-card.component.html -->
  <div class="card mb-4 gradient-custom separate-card" style="border-radius: 10px">
    <div class="card-body">
      <div class="d-flex flex-column">
        <div class="d-flex justify-content-between">
          <div class="date-location mb-3">
            <div style="color: #F23B3B; font-weight: bolder;">{{ date }}</div>
            <div class="location" style="color: #E8E8E8">{{ location }}</div>
          </div>
          <div class="temperature mb-3">
            <span>{{ clima?.temperature }}°</span>
          </div>
        </div>
        <div class="condition-high-low mt-auto w-90">
          <div class="d-flex align-items-center w-100 justify-content-between pe-3">
            <div>
              <p class="mb-0 condition-text" style="color: #FaF0e6">{{ condition }}</p>
              <p class="mb-0 weather"><span style="color:#F23B3B;font-weight: bolder;">H:</span> {{ high }}° <span style="color:#F23B3B;font-weight: bolder;">L:</span> {{ low }}°</p>
            </div>

            <img [src]="'../../../assets/weatherIcons/partly-cloudy-day.svg'" style="width: 35px;fill: #FaF0e6;margin-right: 10px;" alt="Weather Icon">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
