<div class="d-flex justify-content-center align-items-center mt-5">
  <div class="rounded-circle profileIcon bgGeneral d-flex justify-content-center align-items-center" style="width: 150px; height: 150px;">
    <span class="text-white h1">AR</span>
  </div>
  <div>
    <ol class="list-group list-group-flush">
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Adrián</div>
          Remedios León
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Tlf</div>
          666333222
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Correo electrónico</div>
          adrianremediosleon@gmail.com
        </div>
      </li>
    </ol>
  </div>
</div>
<div class="px-5 mt-5">
  <form>
    <div class="card">
      <div class="card-header bgGeneral">
        Datos personales
      </div>
      <div class="card-body d-flex justify-content-between col-12 ">
        <div class="col-6">
          <div class="d-flex col-12 ps-4">
            <label class="card-title me-2 pt-2">Nombre</label>
            <input type="text" class="form-control w-75">
          </div>
          <div class="d-flex col-12 ps-3 mt-4">
            <label class="card-title me-2 pt-2">Nickname</label>
            <input type="text" class="form-control w-75">
          </div>
          <div class="d-flex col-12 ps-4 mt-4">
            <label class="card-title me-2 pt-2 me-4">Email</label>
            <input type="text" class="form-control w-75">
          </div>
          <div class="d-flex col-12 ps-4 mt-4">
            <label class="card-title me-3 pt-2">Idioma</label>
            <select class="form-control w-75"></select>
          </div>
        </div>
        <div class="col-6">
          <div class="d-flex col-12 pe-4">
            <label class="card-title me-2 pt-2">Apellidos</label>
            <input type="text" class="form-control">
          </div>
          <div class="d-flex col-12 pe-4 mt-4">
            <label class="card-title me-2 pt-2">Contacto</label>
            <input type="text" class="form-control">
          </div>
          <div class="d-flex col-12 pe-4 mt-4">
            <label class="card-title me-2 pt-2">Fecha nacimiento</label>
            <input type="date" class="form-control">
          </div>
          <button class="btn bgGeneral rounded-pill mt-4 w-100" type="submit">Guardar cambios</button>
        </div>
      </div>
    </div>
  </form>
  <div class="mt-5">
    <div class="d-flex justify-content-center">
      <h1>Intereses asociados a ti</h1>
    </div>
    <div class="d-flex justify-content-center">
      <hr class="bgGeneral">
    </div>
    <div class=" d-flex flex-wrap justify-content-center">
      <span class="badge bg-secondary fs-6 me-2">⚽ Baloncesto</span>
      <span class="badge bg-secondary fs-6 me-2">⚽ Fútbol</span>
      <span class="badge bg-secondary fs-6 me-2">⚽ Voley</span>
      <span class="badge bg-secondary fs-6 me-2">🎵 Hip-Hop</span><br>
      <span class="badge bg-secondary fs-6 me-2">🍲 Gastronomía asiática</span>
      <span class="badge bg-secondary fs-6 me-2">📚 Archivo de las tormenta</span>
      <span class="badge bg-secondary fs-6 me-2">📚 La rueda del tiempo</span>
      <span class="badge bg-secondary fs-6 me-2">🎭 Comedia</span>
    </div>
    <div class=" d-flex flex-wrap justify-content-center">
    <button class="btn bgGeneral rounded-pill mt-4 w-25 me-2" type="submit"><i class="fa-solid fa-pen-to-square"></i>Editar</button>
      </div>
  </div>
</div>
<div class="dejademolestar">
</div>

