hr{
  height: 3px;
  width: 50%;
  border: red;
}

.error{
  font-size: .7rem;
  color: var(--primary-color);
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
}


.cursor-pointer {
    cursor: pointer;
}
.profileIcon{
  width: 150px;
  height: 150px;
  padding-top: .5rem;
}

.profile-data, .profile-data li{
  background-color: hsl(0, 0%, 95%);
}

.profile-form > form, .profile-form > form > div{
  height: 100%;
}

@media screen and (max-width: 768px) {
  .profile-data, .profile-form, .profile-form > form, .profile-form > form > div {
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  main{
    padding: 1rem !important;
    padding-bottom: 3rem !important;
  }

  label, .btn.bgGeneral.rounded-pill.w-20.py-2 {
    width: 100%;
  }

  span {
    margin: 5px;
  }

  .d-flex {
    flex-direction: column;
  }

  section{
    padding-right: 0 !important;
  }

  .py-4.pe-4 {
    padding-left: 0;
  }

  .profile-data   {
    margin-bottom: 20px !important;
  }

  .footer-padding {
    display: none !important;
  }

  .card-footer .button-container {
    display: flex;
    justify-content: space-between;
  }

  .card-footer button {
    width: 48%;
  }

  .fa-solid {
    display: none;
  }

}
