hr{
  height: 3px;
  width: 50%;
  border: red;
}

.profileIcon{
  width: 150px;
  height: 150px;
  padding-top: .5rem;
}

.profile-data, .profile-data li{
  background-color: hsl(0, 0%, 95%);
}

.profile-form > form, .profile-form > form > div{
  height: 100%;
}

@media screen and (max-width: 768px) {
  .profile-data, .profile-form, .profile-form > form, .profile-form > form > div {
    width: 100%;
  }

  .d-flex {
    flex-direction: column;
  }

  .py-4.pe-4 {
    padding-left: 20px;
  }

  .profile-data   {
    margin-bottom: 20px !important;
  }

  .footer-padding {
    display: none !important;
  }

  .card-footer .button-container {
    display: flex;
    justify-content: space-between;
  }

  .card-footer button {
    width: 48%; 
  }

  .fa-solid {
    display: none;
  }

}
