<aside class="py-3 px-3" #navBar [ngClass]="{'menu-abierto px-4': isOpened}">
  <div class="logo-container">
    <div class="logo col-12">
      <span *ngIf="isOpened">Badajoz Unida</span>
    </div>
    <span class="fa-solid fa-bars me-1 d-flex align-items-center justify-content-center rounded-pill" #menu (click)="toggleMenu()"></span>
  </div>
  <ul class="nav-bar pt-3 ps-0 mt-4">
    <li class="mx-0">
      <div class="rounded-pill" [routerLink]="['/']">
        <span class="nav-icon fa-solid fa-house"></span>
        <span *ngIf="isOpened" class="name-nav-link">Inicio</span>
      </div>
      <span *ngIf="!isOpened" class="nav-tip rounded-pill">Inicio</span>
    </li>
    <li class="mx-0">
      <div class="rounded-pill" [routerLink]="['/eventos']">
        <span class="nav-icon fa-solid fa-calendar-day"></span>
        <span *ngIf="isOpened" class="name-nav-link">Eventos</span>
      </div>
      <span *ngIf="!isOpened" class="nav-tip rounded-pill">Eventos</span>
    </li>
    <li class="mx-0">
      <div class="rounded-pill" [routerLink]="['/mis-eventos']">
        <span class="nav-icon fa-regular fa-calendar-check"></span>
        <span *ngIf="isOpened" class="name-nav-link">Mis eventos</span>
      </div>
      <span *ngIf="!isOpened" class="nav-tip rounded-pill">Mis eventos</span>
    </li>
    <li class="mx-0">
      <div class="rounded-pill" [routerLink]="['/perfil']">
        <span class="nav-icon fa-solid fa-user"></span>
        <span *ngIf="isOpened" class="name-nav-link">Perfil</span>
      </div>
      <span *ngIf="!isOpened" class="nav-tip rounded-pill">Perfil</span>
    </li>
    <hr *ngIf="isAdmin" />
    <li class="mx-0" *ngIf="isAdmin">
      <div class="rounded-pill" [routerLink]="['/gestion-eventos']">
        <span class="nav-icon fa-solid fa-calendar-days"></span>
        <span *ngIf="isOpened" class="name-nav-link">Gestión eventos</span>
      </div>
      <span *ngIf="!isOpened" class="nav-tip rounded-pill">Gestión eventos</span>
    </li>
    <li class="mx-0" *ngIf="isAdmin">
      <div class="rounded-pill" [routerLink]="['/gestion-categorias']">
        <span class="nav-icon fa-solid fa-tag"></span>
        <span *ngIf="isOpened" class="name-nav-link">Gestión categorías</span>
      </div>
      <span *ngIf="!isOpened" class="nav-tip rounded-pill">Gestión categorías</span>
    </li>
    <li class="mx-0" *ngIf="isAdmin">
      <div class="rounded-pill" [routerLink]="['/gestion-intereses']">
        <span class="nav-icon fa-solid fa-heart"></span>
        <span *ngIf="isOpened" class="name-nav-link">Gestión intereses</span>
      </div>
      <span *ngIf="!isOpened" class="nav-tip rounded-pill">Gestión intereses</span>
    </li>
    <li class="mx-0" *ngIf="isAdmin">
      <div class="rounded-pill" [routerLink]="['/gestion-usuarios']">
        <span class="nav-icon fa-solid fa-users"></span>
        <span *ngIf="isOpened" class="name-nav-link">Gestión usuarios</span>
      </div>
      <span *ngIf="!isOpened" class="nav-tip rounded-pill">Gestión usuarios</span>
    </li>
    <hr *ngIf="isAdmin" />
  </ul>
  <div class="perfil-container dropdown">
    <div class="perfil" data-bs-toggle="dropdown" aria-expanded="false">
      <div class="perfil-detalles">
        <div class="col-3 perfil-img rounded-pill">{{nombreUsuario | inicialesNombre}}</div>
        <div *ngIf="isOpened" class="col-9 perfil-nombre d-flex flex-wrap ps-2">{{nombreUsuario}}</div>
      </div>
    </div>
    <ul class="dropdown-menu">
      <li class="log-out ps-2" (click)="cerrarSesion()">Cerrar sesión</li>
    </ul>
  </div>
</aside>
