aside {
  position: fixed;
  color: white;
  top: 0;
  left: 0;
  height: 100%;
  width: 78px;
  background-color: var(--primary-color);
  transition: all 0.5s ease;
  box-shadow: 2px 0 4px hsla(0, 0%, 10%, 0.3);
  z-index: 1;
}

aside > ul > li:hover {
  cursor: pointer;
}

.glowing-text {
  transition: text-shadow 0.3s ease-in-out;
  color: white;
  /* Set the text color */
  text-shadow: none;
  /* No shadow by default */
}

.glowing-text:hover {
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
  /* White glow */
}

.name-nav-link {
  font-size: 0.8rem;
}

.menu-abierto {
  width: 240px;
  color: white;
}

.logo-container .logo {
  color: white;
  display: flex;
}

.logo-container .logo span {
  font-size: 1.2rem;
  font-weight: bold;
}

aside .logo-container .fa-solid {
  position: absolute;
  top: 6px;
  left: 20%;
  height: 50px;
  width: 50px;
  font-size: 1.2rem;
  color: white;
  line-height: 50px;
  transition: all 0.5s ease;
  cursor: pointer;
}

aside.menu-abierto .logo-container .fa-solid {
  left: 75%;
}

aside .logo-container .fa-solid:hover {
  background-color: white;
  color: var(--primary-color);
}

aside ul li {
  position: relative;
  height: 50px;
  width: 100%;
  margin: 7.5px 5px;
  list-style: none;
  line-height: 50px;
}

.nav-icon {
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
}

@media (min-width: 768px) {
  aside ul li div:not(.perfil-mobile) {
    min-width: 50px;
    min-height: 50px;
    color: white;
    display: flex;
    align-items: center;
    transition: all 0.4s ease-in;
    cursor: pointer;
  }
}

.svg-icon {
  fill: white;
  transition: color 0.5s ease;
}

aside ul li div:hover .svg-icon {
  fill: var(--primary-color);
}

.fa-tag,
.fa-heart,
.fa-users {
  font-size: 1.1rem;
}

li .nav-tip {
  position: absolute;
  left: 75px;
  top: 0;
  transform: translatey(-50%);
  height: 35px;
  width: auto;
  background-color: var(--primary-color);
  color: white;
  box-shadow: 0 5px 10px hsla(0, 0%, 0%, 0.2);
  text-align: center;
  line-height: 35px;
  transition: 0s;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
  overflow: visible;
  min-width: 150px;
  padding: 0 10px;
}

li:hover .nav-tip {
  opacity: 1;
  transition: all 0.5s ease;
  top: 50%;
  pointer-events: none;
}

.perfil-container {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 15px 10px;
  color: #d10000;
  background-color: var(--primary-color-dark);
}

.perfil-mobile {
  color: #d10000 !important;
  min-width: 50px;
  min-height: 50px;
  display: flex;
  align-items: center;
  transition: all 0.4s ease-in;
  cursor: pointer;
}

.perfil-container .perfil {
  position: relative;
  padding: 0 6px;
  height: 60px;
  display: flex;
  align-items: center;
}

.perfil-container .perfil .perfil-detalles {
  display: flex;
  align-items: center;
}

.perfil-detalles .perfil-img {
  width: 45px;
  height: 45px;
  background-color: hsl(0, 0%, 100%);
  font-size: 1.2rem;
  font-weight: 600;
}

.perfil-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.perfil-detalles .perfil-nombre {
  font-weight: 500;
  color: white;
}

.perfil,
.log-out {
  cursor: pointer;
}

aside:hover .logout-icon {
  display: block;
  /* muestra el icono de logout */
}

/*.menu-container{*/
/*  position: absolute;*/
/*  width: 100%;*/
/*  bottom: 0;*/
/*}*/

/*!*======header======*!*/
/*#menu{*/
/*  height: 100vh;*/
/*}*/

/*header{*/
/*  background-color: var(--bg-color);*/
/*  box-shadow: 0 2px 4px rgba(0, 0, 0, .3);*/
/*  margin-block-end: .5rem;*/
/*  padding: 1rem;*/
/*  height: 80px;*/
/*  display: flex;*/
/*  justify-content: space-between;*/
/*  align-items: center;*/
/*}*/

/*header .logo-container{*/
/*  display: flex;*/
/*  align-items: center;*/
/*  column-gap: 1rem;*/
/*}*/

/*header .logo-container img{*/
/*  width: 60px;*/
/*}*/

/*header .logo-container #nombreapp{*/
/*  color: var(--primary-color);*/
/*  font-weight: bold;*/
/*  font-size: 1.7rem;*/
/*  display: none;*/
/*}*/

/*header .account-container>button{*/
/*  background: none;*/
/*  border: none;*/
/*  outline: none;*/
/*  cursor: pointer;*/
/*}*/

@media (max-width: 767px) {
  .nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  aside {
    position: fixed;
    top: auto;
    bottom: 0 !important;
    left: 0;
    height: 50px;
    width: 100%;
    padding: 0 !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 !important;
    padding: 0 !important;
    height: 50px !important;
  }

  aside,
  ul {
    box-sizing: border-box !important;
  }

  .nav-bar li {
    margin: 2px !important;
  }

  .perfil-container.dropdown {
    flex-grow: 1;
  }

  li .nav-tip {
    display: none;
  }

  .perfil {
    padding: 0 !important;
  }

  .col-3.perfil-img.rounded-pill.log-text {
    width: 35px !important;
    height: 35px !important;
  }

  .logout-icon {
    font-size: 0.9rem !important;
  }

  span.user-initials {
    font-size: 0.9rem;
  }

  .fa-solid.fa-bars.me-1.d-flex.align-items-center.justify-content-center.rounded-pill {
    display: none !important;
  }

  .perfil-li {
    margin-left: 5px !important;
  }
}

.dropdown-content {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 110%; /* Inicio justo encima del elemento que lo activa */
  position: absolute;
  right: -162%; /* Posicionamiento a la mitad del elemento padre */
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: 5px;
  z-index: 100;
  opacity: 0;
  transform: translateY(20px); /* Empieza más abajo */
  transition: transform 0.3s, opacity 0.3s; /* Anima las propiedades */
}

.dropdown-content.active {
  opacity: 1;
  transform: translateY(0); /* Mueve la posición a normal */
}

.circle-icon {
  display: block;
  width: 30px;
  height: 30px;
  background-color: #D10000; /* Example gray background, customize as needed */
  margin: 5px;
  border-radius: 50%; /* Round shape */
  text-align: center;
  line-height: 30px; /* Align icon inside circle */
  color: white; /* Icon color */
}

@media (max-width: 768px) {
  aside ul .admin {
    display: none; /* Oculta los li en móviles */
  }
}
