aside{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 78px;
  background-color: var(--primary-color);
  transition: all .5s ease;
  box-shadow: 2px 0 4px hsla(0, 0%, 10%, .3);
  z-index: 1;
}

.menu-abierto{
  width: 240px;
}

.logo-container .logo{
  color: white;
  display: flex;
}

.logo-container .logo span{
  font-size: 1.2rem;
  font-weight: bold;
}

aside .logo-container .fa-solid{
  position: absolute;
  top: 6px;
  left: 20%;
  height: 50px;
  width: 50px;
  font-size: 1.2rem;
  color: white;
  line-height: 50px;
  transition: all .5s ease;
  cursor: pointer;
}

aside.menu-abierto .logo-container .fa-solid{
  left: 75%
}

aside .logo-container .fa-solid:hover{
  background-color: white;
  color: var(--primary-color);
}

aside ul li{
  position: relative;
  height: 50px;
  width: 100%;
  margin: 7.5px 5px;
  list-style: none;
  line-height: 50px;
}

aside ul li div{
  min-width: 50px;
  min-height: 50px;
  color: white;
  display: flex;
  align-items: center;
  transition: all .4s ease-in;
  cursor: pointer;
}

aside ul li div:hover{
  color: var(--primary-color);
  background-color: white;
}

.nav-icon{
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
}

.svg-icon{
  fill: white;
  transition: color .5s ease;
}

aside ul li div:hover .svg-icon{
  fill: var(--primary-color);
}
.fa-tag, .fa-heart, .fa-users{
  font-size: 1.1rem;
}

li .nav-tip{
  position: absolute;
  left: 75px;
  top: 0;
  transform: translateY(-50%);
  height: 35px;
  width: 175px;
  background-color: var(--primary-color);
  color: white;
  box-shadow: 0 5px 10px hsla(0, 0%, 0%, .2);
  text-align: center;
  line-height: 35px;
  transition: 0s;
  opacity: 0;
  pointer-events: none;
}

li:hover .nav-tip{
  opacity: 1;
  transition: all .5s ease;
  top: 50%;
  pointer-events: none;
}

.perfil-container{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  background-color: var(--primary-color-dark);
  padding: 0 !important;
  margin: 0 !important;
}

.perfil {
  margin: 0 !important;
  padding: 0 !important;
}

.perfil-container .perfil{
  position: relative;
  padding: 0 6px;
  height: 60px;
  display: flex;
  align-items: center;
}

.perfil-container .perfil .perfil-detalles{
  display: flex;
  align-items: center;
}

.perfil-detalles .perfil-img{
  width: 45px;
  height: 45px;
  background-color: hsl(200, 75%, 50%);
  font-size: 1.2rem;
  font-weight: 600;
}

.perfil-img{
  display: flex;
  justify-content: center;
  align-items: center;
}

.perfil-detalles .perfil-nombre{
  font-weight: 500;
}

.perfil, .log-out{
  cursor: pointer;
}

.log-text .logout-icon {
  display: none;
}

.log-text:hover .user-initials {
  display: none;
}

.log-text:hover .logout-icon {
  display: block;
}

.dropdown-menu {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropdown-menu li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.glowing-text .nav-icon {
  color: white;
}

.dropdown-menu li a {
  color: inherit;
}

@media (max-width: 767px) {

  .dropdown {
    position: relative;
  }

  .dropdown-menu {
    position: absolute;
    bottom: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    display: none;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
  }

  .nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  aside {
    position: fixed;
    top: auto;
    bottom: 0 !important;
    left: 0;
    height: 50px;
    width: 100%;
    padding: 0 !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 !important;
    padding: 0 !important;
    height: 50px !important;

  }

  aside, ul {
    box-sizing: border-box !important;
  }

  .nav-bar li {
    margin: 0 !important;

  }

  .perfil-container.dropdown {
    flex-grow: 1;
  }

  li .nav-tip{
    display: none;
  }

  .perfil {
    padding: 0 !important;
  }

  .col-3.perfil-img.rounded-pill.log-text {
    width: 30px !important;
    height: 30px !important;

  }

  .fa-solid.fa-bars.me-1.d-flex.align-items-center.justify-content-center.rounded-pill {
    display: none !important;
  }



}

@media (min-width: 768px) {
  .perfil-container.dropdown {
    position: static;
  }

  .dropdown-menu {
    position: relative;
    top: auto;
    bottom: 100%;
    left: auto;
    right: 0;
  }
}
