<aside class="py-3 px-3" #navBar [ngClass]="{'menu-abierto px-4': isOpened}">
  <div class="logo-container">
    <div class="logo col-12">
      <span *ngIf="isOpened">Badajoz Unida</span>
    </div>
    <span class="fa-solid fa-bars me-1 d-flex align-items-center justify-content-center rounded-pill" #menu (click)="toggleMenu()"></span>
  </div>
  <ul class="nav-bar pt-3 ps-0 mt-4">
    <li class="mx-0">
      <div class="rounded-pill" [routerLink]="['/']">
        <span class="nav-icon fa-solid fa-house"></span>
        <span *ngIf="isOpened" class="name-nav-link">{{resources.home}}</span>
      </div>
      <span *ngIf="!isOpened" class="nav-tip rounded-pill">{{resources.home}}</span>
    </li>
    <li class="mx-0">
      <div class="rounded-pill" [routerLink]="['/eventos']">
        <span class="nav-icon fa-solid fa-calendar-day"></span>
        <span *ngIf="isOpened" class="name-nav-link">{{resources.events}}</span>
      </div>
      <span *ngIf="!isOpened" class="nav-tip rounded-pill">{{resources.events}}</span>
    </li>
    <li class="d-md-none mx-0">
      <div class="perfil perfil-mobile" aria-expanded="false">
        <div class="perfil-detalles ms-2">
          <div class="col-3 perfil-img rounded-pill log-text" (click)="cerrarSesion()">
            <span class="user-initials">{{nombreUsuario | inicialesNombre}}</span>
            <i class="logout-icon fa fa-sign-out" aria-hidden="true"></i>
          </div>
          <div *ngIf="isOpened" class="col-9 perfil-nombre d-flex flex-wrap ps-2">{{nombreUsuario}}</div>
        </div>
      </div>
    </li>
    <li class="mx-0">
      <div class="rounded-pill" [routerLink]="['/mis-eventos']">
        <span class="nav-icon fa-regular fa-calendar-check"></span>
        <span *ngIf="isOpened" class="name-nav-link">{{resources.myEvents}}</span>
      </div>
      <span *ngIf="!isOpened" class="nav-tip rounded-pill">{{resources.myEvents}}</span>
    </li>
    <li class="mx-0">
      <div class="rounded-pill" [routerLink]="['/perfil']">
        <span class="nav-icon fa-solid fa-user"></span>
        <span *ngIf="isOpened" class="name-nav-link">{{resources.profile}}</span>
      </div>
      <span *ngIf="!isOpened" class="nav-tip rounded-pill">{{resources.profile}}</span>
    </li>
    <hr *ngIf="isAdmin" />
    <li class="mx-0" *ngIf="isAdmin">
      <div class="rounded-pill" [routerLink]="['/gestion-eventos']">
        <span class="nav-icon fa-solid fa-calendar-days"></span>
        <span *ngIf="isOpened" class="name-nav-link">Gestión eventos</span>
      </div>
      <span *ngIf="!isOpened" class="nav-tip rounded-pill">Gestión eventos</span>
    </li>
    <li class="mx-0" *ngIf="isAdmin">
      <div class="rounded-pill" [routerLink]="['/gestion-categorias']">
        <span class="nav-icon fa-solid fa-tag"></span>
        <span *ngIf="isOpened" class="name-nav-link">Gestión categorías</span>
      </div>
      <span *ngIf="!isOpened" class="nav-tip rounded-pill">Gestión categorías</span>
    </li>
    <li class="mx-0" *ngIf="isAdmin">
      <div class="rounded-pill" [routerLink]="['/gestion-intereses']">
        <span class="nav-icon fa-solid fa-heart"></span>
        <span *ngIf="isOpened" class="name-nav-link">Gestión intereses</span>
      </div>
      <span *ngIf="!isOpened" class="nav-tip rounded-pill">Gestión intereses</span>
    </li>
    <li class="mx-0" *ngIf="isAdmin">
      <div class="rounded-pill" [routerLink]="['/gestion-usuarios']">
        <span class="nav-icon fa-solid fa-users"></span>
        <span *ngIf="isOpened" class="name-nav-link">Gestión usuarios</span>
      </div>
      <span *ngIf="!isOpened" class="nav-tip rounded-pill">Gestión usuarios</span>
    </li>
  </ul>
  <div class="perfil-container dropdown d-none d-md-block">
    <div class="perfil" data-bs-toggle="dropdown" aria-expanded="false">
      <div class="perfil-detalles">
        <div class="col-3 perfil-img rounded-pill log-text" (click)="cerrarSesion()">
          <span class="user-initials">{{nombreUsuario | inicialesNombre}}</span>
          <i class="logout-icon fa fa-sign-out" aria-hidden="true"></i>
        </div>
        <div *ngIf="isOpened" class="col-9 perfil-nombre d-flex flex-wrap ps-2">{{nombreUsuario}}</div>
      </div>
    </div>
  </div>
</aside>
