<form [formGroup]="loginForm" (ngSubmit)="guardar(loginForm)" class="py-lg-4 px-1 rounded-4 d-flex flex-column align-items-center justify-content-between">
<!--  <h2>Bienvenido a</h2>-->
<!--  <h1>Badajoz Unida</h1>-->
<!--  <div class="separador"></div>-->
  <div class="col-8 col-lg-6 pt-0 pt-lg-3 mt-3 mt-lg-5 mt-lg-0 d-flex justify-content-center">
    <img class="w-65" src="assets/logo.png">
  </div>
  <div *ngIf="showAlert" class="alert alert-danger col-10 mt-2" role="alert">
    Nombre de usuario o contraseña incorrectos
  </div>
  <div class="input-group">
    <input type="text" class="form-control" maxlength="100" formControlName="user" name="user" id="input-user" placeholder=" {{ resources.username }}"/>
  </div>
  <div class="input-group password">
    <input type="password" class="form-control" formControlName="password" name="password" id="iPassword" placeholder="{{ resources.password }}"/>
    <i id="ieye"class="bi bi-eye-fill rounded-3" (click)="showHide()"></i>
  </div>

  <div class="input-group">
    <input type="submit" *ngIf="!verificandoLogin; else loading" class="button rounded-pill" value="{{ resources.login }}" />
    <small class="d-lg-none">{{ resources.noAcc }}</small>
    <button class="button rounded-pill d-lg-none" (click)="goToRegistro()"> {{ resources.createAcc }}</button>
  </div>
  <div class="separador mt-4"></div>
  <div class="sponsor-images d-flex col-10 align-items-center justify-content-center py-3 px-4 px-lg-0 flex-wrap">
    <div class="col-9 col-lg-4 justify-content-center my-3 mobile-visible">
      <img class="hide-on-mobile" src="assets/evg_logo.png">
    </div>
    <div class="col-9 col-lg-4 justify-content-center my-3 mobile-visible">
      <img class="hide-on-mobile" src="assets/entreculturas_logo.png">
    </div>
    <div class="col-9 col-lg-4 justify-content-center my-3 mobile-visible">
      <img class="hide-on-mobile" src="assets/cruz-roja_logo.png">
    </div>
  </div>
</form>
<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
