<div class="card h-100">
  <div class="image-wrapper">
    <img [src]="evento.cover" [alt]="evento.name" appNoImage />
  </div>
  <div class="card-body">
    <h5 class="card-title">{{evento.nombre}}</h5>
    <p class="card-text d-none d-lg-block">{{evento.descripcion | cortarTexto:100}}</p>
    <p class="card-text d-lg-none">{{evento.descripcion | cortarTexto:50}}</p>
    <div>
      <span class="fw-bold">Fecha: </span> {{evento?.fechaHora | date:'dd MMM yyyy':'':'es'}}, {{evento?.fechaHora | date:'cccc':'':'es'}}
    </div>
    <div class="my-2">
      <span class="fw-bold">Hora: </span> {{evento?.fechaHora | date: 'shortTime'}}
    </div>
    <div>
      <span class="fw-bold">Localización: </span> {{evento?.localizacion}}
    </div>
  </div>
  <div class="card-footer d-flex justify-content-center py-3">
    <button class="btn btn-primary rounded-pill px-4 py-2" (click)="showEvent(evento.eventosId)">Saber más <span class="ms-2">→</span></button>
  </div>
</div>
