<div class="card mx-4 my-4">
  <div>
    <div class="card-header bgGeneral">
      {{ resources.searchFilters }}
    </div>
    <div class="card-body">
      <form class="col-12" [formGroup]="formFilter" (ngSubmit)="filterUsuarios()">
        <div class="d-flex col-12">
          <div class="d-flex mb-3 col-5 me-5">
            <label for="nombreUsuario" class="form-label pt-2 me-3">{{
              resources.nombre
              }}</label>
            <input formControlName="nombreUsuario" type="text" class="form-control" id="nombreUsuario"
              aria-describedby="emailHelp" />
          </div>
          <div class="d-flex mb-3 col-5">
            <label for="nick" class="form-label pt-2 me-3">Nick</label>
            <input formControlName="nick" type="text" class="form-control" id="nick" aria-describedby="emailHelp" />
          </div>
        </div>
        <div class="d-flex col-12">
          <div class="d-flex mb-3 col-5 me-5">
            <label for="mail" class="form-label pt-2 me-3">Email</label>
            <input formControlName="email" type="text" class="form-control" id="mail" aria-describedby="emailHelp" />
          </div>
          <div class="col-5 mb-3 d-flex">
            <label for="rol" class="form-label pt-2 me-3">{{
              resources.rol
              }}</label>
            <select formControlName="rol" class="form-control" id="rol">
              <optgroup>
                <option value="1">{{resources.administrator}}</option>
                <option value="2">{{resources.user}}</option>
                <option value="3">{{resources.collaborator}}</option>
              </optgroup>
            </select>
          </div>
        </div>
        <div class="mt-3">
          <button type="submit" class="btn bgGeneral">
            {{ resources.filter }}
          </button>
                            <button type="button" (click)="limpiarFiltros()" class="btn bgGeneral ms-2">
            <i class="fa fa-broom"></i>
          </button>

        </div>
      </form>
    </div>
  </div>
</div>
<div class="px-custom fs-6" [ngClass]="{ 'd-none': loading }">
  <table #dataTable class="w-100 table table-striped" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
    <thead class="bgGeneral">
      <tr>
        <th class="col-1"></th>
        <th class="col-1">Id</th>
        <th class="col-2">{{ resources.nombre }}</th>
        <th class="col-2">{{ resources.surname }}</th>
        <th class="col-2">{{ resources.username }}</th>
        <th class="col-1">Email</th>
        <th class="col-1">{{ resources.phone }}</th>
        <th class="col-1">{{ resources.birthdate }}</th>
        <th class="col-1"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of usuarios">
        <td class="col-1 text-center">
          <div class="text-center pt-2">
            <div class="btn-group text-center">
              <i class="fa-solid fa-fire me-2" data-bs-toggle="dropdown" aria-expanded="false"></i>
              <ul class="dropdown-menu">
                <li class="text-center">
                  <span class="badge rounded-pill text-bg-danger" *ngFor="let interes of user?.intereses">
                    {{ interes?.titulo }}
                  </span>
                </li>
              </ul>
            </div>
            <div class="btn-group text-center">
              <i class="fa-sharp fa-solid fa-shield-halved" data-bs-toggle="dropdown" aria-expanded="false"></i>
              <ul class="dropdown-menu">
                <li class="text-center">
                  <span class="badge rounded-pill bg-warning" *ngFor="let rol of user?.roles">
                    {{ rol?.id + " " + rol?.rolNombre }}
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </td>
        <td class="col-1">{{ user?.userId }}</td>
        <td class="col-2">{{ user?.nombre }}</td>
        <td class="col-2">{{ user?.apellidos }}</td>
        <td class="col-2">{{ user?.nombreUsuario }}</td>
        <td class="col-1">{{ user?.email }}</td>
        <td class="col-1">{{ user?.tlf }}</td>
        <td class="col-1">{{ user?.fchNacimiento | date: "dd/MM/yyyy" }}</td>
        <td class="text-end px-0">
          <div class="dropdown">
            <button class="btn btn-link" id="dropdownPrivilegioMenuLink" role="button" data-bs-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fa-solid fa-ellipsis-vertical" style="color: red"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-right position-absolute py-0"
              aria-labelledby="dropdownPrivilegioMenuLink">
                            <li>
                <button class="dropdown-item py-3" (click)="asignarPrivilegio(1, user)" *ngIf="user.roles[0].id !== 1 || !checkUniqueAdmin()">
                  <i class="fa-sharp fa-solid fa-lock me-2"></i><span>{{resources.asignAdmin}}</span>
                </button>
              </li>

              <li>
                <button class="dropdown-item py-3" (click)="asignarPrivilegio(2, user)" *ngIf="user.roles[0].id !== 1 || !checkUniqueAdmin()">
                  <i class="fa-sharp fa-solid fa-lock me-2"></i><span>{{resources.asignUser}}</span>
                </button>
              </li>
                            <li>
                <button class="dropdown-item py-3" *ngIf="user.roles[0].id === 1 && checkUniqueAdmin()">
                  <i class="fa-sharp fa-solid fa-circle-info me-2"></i><span>Eres el unico admin</span>
                </button>
              </li>

              <li>
                <button class="dropdown-item py-3" (click)="asignarPrivilegio(3, user)" *ngIf="user.roles[0].id !== 1 || !checkUniqueAdmin()">
                  <i class="fa-solid fa-unlock me-2"></i><span>{{resources.asignColaborator}}</span>
                </button>
              </li>
            </ul>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="loading">
  <app-loading></app-loading>
</div>
<p-toast [breakpoints]="{'700px': {width: '100%', right: '0', left: '0',padding: '0 10px'}}"></p-toast>

