<!-- Carrusel de tres tarjetas -->
<ng-container *ngIf="!loading; else momentum">
  <div [id]="'carouselExampleAutoplaying-' + tipo" class="carousel slide pt-5 d-none d-lg-block" data-interval="false">
    <div class="carousel-inner">
      <ng-container *ngFor="let grupoEventos of eventosAgrupados; let i = index">
        <div class="carousel-item px-5" [ngClass]="{'active': i == 0}">
          <div class="cards-wrapper px-5">
            <div class="card-3" *ngFor="let evento of grupoEventos">
              <app-cards [evento]="evento"></app-cards>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <button *ngIf="hayMasDeUnGrupo()" class="carousel-control-prev" type="button" [attr.data-bs-target]="'#carouselExampleAutoplaying-' + tipo" data-bs-slide="prev">
      <div>
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </div>
      <span class="visually-hidden">Previous</span>
    </button>
    <button *ngIf="hayMasDeUnGrupo()" class="carousel-control-next" type="button" [attr.data-bs-target]="'#carouselExampleAutoplaying-' + tipo" data-bs-slide="next">
      <div>
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </div>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- Carrusel de una tarjeta (Móvil) -->
  <div [id]="'carousel-' + tipo" class="carousel slide d-lg-none" data-interval="false">
    <div class="carousel-inner">
      <ng-container *ngFor="let evento of eventos; let i = index">
        <div class="carousel-item px-3" [ngClass]="{'active': i == 0}">
          <div class="cards-wrapper">
            <div class="card card-1">
              <app-cards [evento]="evento"></app-cards>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <button *ngIf="hayMasDeUnEvento()" class="carousel-control-prev" type="button" [attr.data-bs-target]="'#carousel-' + tipo" data-bs-slide="prev">
      <div>
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </div>
      <span class="visually-hidden">Previous</span>
    </button>
    <button *ngIf="hayMasDeUnEvento()" class="carousel-control-next" type="button" [attr.data-bs-target]="'#carousel-' + tipo" data-bs-slide="next">
      <div>
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </div>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</ng-container>
<ng-template #momentum>
  <app-loading></app-loading>
</ng-template>
