<!--Carrusel de tres tarjetas-->
<div id="carouselExampleAutoplaying" class="carousel slide pt-5 d-none d-lg-block" data-interval="false">
  <div class="carousel-inner">
    <ng-container *ngFor="let grupoEventos of eventosAgrupados; let i = index">
      <div class="carousel-item px-5" [ngClass]="{'active' : i == 0}">
        <div class="cards-wrapper px-5">
          <div class="card-3" *ngFor="let evento of grupoEventos">
            <app-cards [evento]="evento"></app-cards>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <div>
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </div>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <div>
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </div>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!--Carrousel de una tarjeta (Móvil)-->
<div id="carousel" class="carousel slide d-lg-none" data-interval="false">
  <div class="carousel-inner">
    <ng-container *ngFor="let evento of eventos; let i = index">
      <div class="carousel-item px-3" [ngClass]="{'active' : i == 0}">
        <div class="cards-wrapper">
          <div class="card card-1">
            <app-cards [evento]="evento"></app-cards>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
    <div>
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </div>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
    <div>
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </div>
    <span class="visually-hidden">Next</span>
  </button>
</div>
