.cards-wrapper{
  display: flex;
  gap: 10px
}

.card-1{
  margin: .5rem;
  width: 100%;
}

.card-3{
  width: calc(100% / 3);
}

.carousel-control-prev > div, .carousel-control-next > div{
  background-color: #ff0000;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
}

.carousel-control-prev .carousel-control-prev-icon{
  color: white;
  transform: translateX(-2px);
}

.carousel-control-next .carousel-control-next-icon{
  color: white;
  transform: translateX(2px);
}

button.btn{
  background-color: #ff0000;
  border: 0;
}

@media screen and (min-width: 100px) and (max-width: 768px) {
  .carousel-control-prev, .carousel-control-next{
    opacity: 1;
    transform: translateY(-75px);
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .footer-padding{
    padding-bottom: 350px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .footer-padding{
    padding-bottom: 300px;
  }

  .carousel-inner{
    padding: 0 70px 0 50px;
  }

}

@media screen and (min-width: 1200px) and (max-width: 1599px){
  .footer-padding{
    padding-bottom: 325px;
  }

  .carousel-inner{
    padding: 0 85px 0 65px;
  }

}

@media screen and (min-width: 1600px){
  .footer-padding{
    padding-bottom: 325px;
  }

  .carousel-inner{
    padding: 0 120px 0 100px;
  }
}
