<div class="modal-content">
  <div class="modal-header bgGeneral">
    <h1 class="modal-title fs-5" id="exampleModalLabel">{{resources.cesionImagen}}</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="cerrarModal()"></button>
  </div>
  <div class="modal-body w-100 px-5">
    <p>
      {{resources.estimated}} {{usuario}},
    </p>
    <p>
      {{resources.thanksForParticipating}} <span class="fw-bold">Badajoz Unida</span>.{{resources.ph1}}
    </p>
    <p>
      {{resources.cesionImagen}}:
    </p>
    <p>
      {{resources.me}}, {{usuario}}, {{resources.reconozcoAcepto}}:
    </p>
    <ul>
      <li>
        {{resources.autorizo}} <span class="fw-bold">Badajoz Unida</span> {{resources.ph2}}
        {{evento?.nombre}}, {{resources.aCabo}} {{resources.en}} {{evento?.localizacion}} {{resources.en}} {{evento?.fechaHora | date:'dd MMM yyyy':'':'es'}}.
      </li>
      <li>
        {{resources.accept}} <span class="fw-bold">Badajoz Unida</span> {{resources.ph3}}
      </li>
      <li>
        {{resources.ph4}} <span class="fw-bold">Badajoz Unida</span>.
      </li>
      <li>
        {{resources.ph5}} <span class="fw-bold">Badajoz Unida</span> {{resources.ph6}}
      </li>
      <li>
        {{resources.reconozco}} <span class="fw-bold">Badajoz Unida</span> {{resources.ph7}}
      </li>
      <li>
        {{resources.ph8}} <span class="fw-bold">Badajoz Unida</span>, {{resources.ph9}}
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn button rounded-pill px-3 py-2 customBtn" (click)="registrarUsuario()">{{resources.acceptDoc}}</button>
    <button type="submit" class="btn button rounded-pill px-3 py-2 customBtn" (click)="cerrarModal()">{{resources.cancelDoc}}</button>
  </div>
</div>

