<footer class="px-5 py-4">
  <h1 class="d-flex justify-content-center mt-4"><span>¡</span>Conócenos<span>!</span></h1>
  <div class="col-12 d-flex justify-content-around mt-2 flex-wrap">
    <div class="col-10 col-lg-2 d-flex align-items-center py-2 py-lg-0" (click)="redirectTo('https://fundacionloyola.com/vguadalupe/')">
      <img src="./assets/evg_logo.png" alt="Escuela Virgen de Guadalupe">
    </div>
    <div class="col-10 col-lg-2 d-flex align-items-center py-2 py-lg-0" (click)="redirectTo('https://www.entreculturas.org/es/home')">
      <img src="./assets/entreculturas_logo.png" alt="Entreculturas">
    </div>
    <div class="col-10 col-lg-2 d-flex align-items-center py-2 py-lg-0" (click)="redirectTo('https://www2.cruzroja.es')">
      <img src="./assets/cruz-roja_logo.png" alt="Cruz Roja">
    </div>
  </div>
</footer>
