<footer class="px-5 py-4" *ngIf="!isPerfilRoute()">
  <h1 class="d-flex justify-content-center mt-4"><span>¡</span>Conócenos<span>!</span></h1>
  <div class="contenedor-imagenes col-12 justify-content-around mt-2 flex-wrap">
    <div class="col-10 col-lg-2 align-items-center py-2 py-lg-0" (click)="redirectTo('https://fundacionloyola.com/vguadalupe/')">
      <img src="./assets/evg_logo.png" alt="Escuela Virgen de Guadalupe">
    </div>
    <div class="col-10 col-lg-2 align-items-center py-2 py-lg-0" (click)="redirectTo('https://www.entreculturas.org/es/home')">
      <img src="./assets/entreculturas_logo.png" alt="Entreculturas">
    </div>
    <div class="col-10 col-lg-2 align-items-center py-2 py-lg-0" (click)="redirectTo('https://www2.cruzroja.es')">
      <img src="./assets/cruz-roja_logo.png" alt="Cruz Roja">
    </div>
  </div>

  <div class="info">
    <div class="entreculturas pt-4">
      <h5 class="ps-4">Entreculturas Fe y Alegría</h5>
      <div class="contenedor-span rounded-pill d-flex justify-content-between py-3">
        <span><span class="fa-solid fa-location-dot me-1"></span> C/ Ramón Albarrán nº4, bajo</span>
        <span><span class="fa-solid fa-envelopes-bulk me-1"></span> CP - 06002 - Badajoz</span>
        <span><span class="fa-solid fa-phone me-1"></span> 692340114</span>
        <span><span class="fa-solid fa-envelope me-1"></span> extremadura@entreculturas.org</span>
      </div>
    </div>
    <div class="cruz-roja py-4">
      <h5 class="ps-4">Cruz Roja Badajoz</h5>
      <div class="contenedor-span rounded-pill d-flex justify-content-between py-3 px-4">
        <span><span class="fa-solid fa-location-dot me-1"></span> C/ Museo nº 5</span>
        <span><span class="fa-solid fa-envelopes-bulk me-1"></span> CP - 06003 - Badajoz</span>
        <span><span class="fa-solid fa-phone me-1"></span> 924240200</span>
        <span><span class="fa-solid fa-envelope me-1"></span> badajoz@cruzroja.es</span>
      </div>
    </div>
  </div>
</footer>
