form {
  background-color: white;
  padding: 2rem .5rem;
  flex-grow: 1;
  box-sizing: border-box;
}

form h1{
  color: var(--primary-color);
  padding: 0 7rem;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

form .separador{
  width: 90%;
  height: .5px;
  margin: 10px auto;
  border-radius: 12px;
  background-color: var(--secondary-color-opacity);
}

form .input-group{
  display: block;
}

form .input-group.password{
  position: relative;
}

form .input-group.password i{
  position: absolute;
  bottom: .5rem;
  right: .5rem;
  cursor: pointer;
}

form input{
  width: 100%;
  padding: .5rem;
  font-size: 1rem;
}

input[type="text"], input[type="email"], input[type="password"], select{
  border-radius: .3rem !important;
}

form label{
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  color: var(--secondary-color);
}

form input:focus{
  outline: none;
  border-bottom: 2px solid var(--text-base-color);
}

form > small{
  width: 80%;
  font-family: 'Open Sans', sans-serif;
  color: var(--primary-color);
}

.input-group .error{
  font-size: .7rem;
  color: var(--primary-color);
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
}

.button{
  width: 100%;
  padding: .6rem 1rem;
  color: var(--bg-color);
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all .3s ease-in-out;
  margin-bottom: 5px;
}


button.button{
  border: 0;
  background-color: var(--secondary-color);
}

input.button, button.continuar{
  background-color: var(--primary-color);
  border: 0;
  transition: transform .5s ease-out;
  height: 100%;
}

input.button:hover, button.continuar:hover{
  background-color: var(--primary-color-hover);
  transform: scale(1.02);
}

form a{
  background-color: var(--primary-color-hover);
  transform: scale(1.02);
}

#idioma{
  width: 100%;
}

.categoria, .interes{
  padding: 2px 5px;
  display: inline-block !important;
  cursor: pointer;
}

.badge{
  transition: background-color .5s ease-in;
}

.badge:hover, .selected{
  background-color: var(--primary-color) !important;
}

div .password{
  position: relative;
}

#ieye, #ieye2{
  position: absolute;
  top: 32.5px;
  transform: translateX(-10px);
  z-index: 99999;
}

@media screen and (min-width: 100px) and (max-width: 900px){
  form{
    min-height: 100vh;
    border-radius: 0 !important;
  }
}
