<div class="card mx-5 my-4">
  <div>
    <div class="card-header bgGeneral">
      Filtros de búsqueda:
    </div>
    <div class="card-body">
      <form class="col-12" [formGroup]="formFilter" (ngSubmit)="filtrarBusqueda()">
        <div class="d-flex col-12">
          <div class="d-flex mb-3 col-5 me-5">
            <label for="nombreEvento" class="form-label pt-2 me-3">Nombre</label>
            <input formControlName="nombre" type="text" class="form-control" id="nombreEvento" aria-describedby="emailHelp">
          </div>
          <div class="d-flex mb-3 col-5">
            <label for="localizacion" class="form-label pt-2 me-3">Localización</label>
            <input formControlName="localizacion" type="text" class="form-control" id="localizacion" aria-describedby="emailHelp">
          </div>
        </div>
        <div class="d-flex">
          <div class="col-5 d-flex">
            <label for="dateInit" class="form-label pt-2 me-5">Fecha</label>
            <div class="d-flex col-12">
              <div>
                <input formControlName="fechaInit" type="date" class="form-control" id="dateInit">
              </div>
              <div>
                <input formControlName="fechaEnd" type="date" class="form-control" id="dateEnd">
              </div>
            </div>
          </div>
          <div class="col-6 d-flex">
            <label for="intereses" class="form-label pt-2 me-3">Intereses</label>
            <select  formControlName="intereses"
                     class="form-control" id="intereses" >
              <optgroup *ngFor="let categoria of categorias" label="{{categoria?.titulo}}">
                <option *ngFor="let interes of categoria?.intereses" value="{{interes?.interesId}}">{{interes?.titulo}}</option>
              </optgroup>
            </select>
          </div>
        </div>
        <div class="mt-3">
          <button type="submit" class="btn bgGeneral">Filtrar</button>
          <button type="button" class="btn btn-primary ms-2" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="mostrarModalEventos()">
            Crear evento
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class=" px-5" [ngClass]="{'d-none': loading}">
  <table #dataTable class="display" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
    <thead class="bgGeneral">
    <tr>
      <th>Nombre</th>
      <th>Localización</th>
      <th>Fecha</th>
      <th>Telefono</th>
      <th>LatLong</th>
      <th>Detalles</th>
      <th>Descripción</th>
      <th>Intereses</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let evento of eventos">
      <td>{{evento?.nombre}}</td>
      <td>{{evento?.localizacion}}</td>
      <td>{{evento?.fechaHora | date:'dd/mm/yyyy hh:mm'}}</td>
      <td>{{evento?.telefonoContacto}}</td>
      <td>{{evento?.latitud + '/' + evento?.longitud}}</td>
      <td>{{evento?.detalles| cortarTexto:200}}</td>
      <td>{{evento?.descripcion| cortarTexto:200}}</td>
      <td>
      <span  *ngFor="let interes of evento?.intereses" class="badge rounded-pill text-bg-danger">
        {{interes?.titulo}}
      </span>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div *ngIf="loading">
  <app-loading></app-loading>
</div>

