/*======Variables======*/
:root{
  --bg-color: white;
  --primary-color: hsl(0, 100%, 41%);
  --primary-color-opacity: hsla(0, 100%, 41%, .4);
  --primary-color-dark: hsl(0, 100%, 38%);
  --primary-color-hover: #c40000;
  --secondary-color-opacity: hsla(0, 0%, 57%, .9);
  --secondary-color-opacity-2: hsla(0, 0%, 57%, .4);
  --secondary-color: hsl(0, 0%, 57%);
  --text-base-color: black;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

/*======Media Queries======*/
@media screen and (min-width: 750px) {
  .grid-form-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .grid-form-image{
    display: flex;
    background-color: var(--secondary-color);
    padding: 1.5rem;
  }

  .grid-form-image img{
    width: 90%;
    margin: auto;
  }

  .grid-form{
    margin: 0 auto;
  }
}

@media screen and (min-width: 100px) and (max-width: 768px) {
  .footer-padding{
    padding-bottom: 450px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .footer-padding{
    padding-bottom: 350px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .footer-padding{
    padding-bottom: 300px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-padding{
    padding-bottom: 325px;
  }
}
