/*======Variables======*/
:root{
  --bg-color: white;
  --primary-color: #D10000;
  --primary-color-hover: #c40000;
  --secondary-color: hsl(0, 0%, 57%);
  --secondary-color-opacity: hsla(0, 0%, 57%, .8);
  --text-base-color: black;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
}

/*======Media Queries======*/
@media screen and (min-width: 750px) {
  .grid-form-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .grid-form-image{
    display: flex;
    background-color: var(--secondary-color);
    padding: 1.5rem;
  }

  .grid-form-image img{
    width: 90%;
    margin: auto;
  }

  .grid-form{
    max-width: 600px;
    margin: 0 auto;
  }
}
