<div class="card mx-4 my-4">
  <div>
    <div class="card-header bgGeneral">
      {{resources.searchFilters}}
    </div>
    <div class="card-body">
      <form class="col-12"[formGroup]="formFilter" (ngSubmit)="filterIntereses()">
        <div class="d-flex col-12">
          <div class="d-flex mb-3 col-5 me-5">
            <label for="titulo" class="form-label pt-2 me-3">{{resources.title}}</label>
            <input formControlName="titulo" type="text" class="form-control" id="titulo" aria-describedby="emailHelp">
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" formControlName="activo" class="form-check-input" id="activo" aria-describedby="emailHelp">
            <label class="form-check-label" for="activo">{{resources.active}}</label>
          </div>
        </div>
        <button type="submit" class="btn bgGeneral">{{resources.filter}}</button>
        <button type="button" class="btn btn-primary ms-2" data-bs-toggle="modal" data-bs-target="#createInteresModal">
          {{resources.createInterest}}
        </button>
      </form>
    </div>
  </div>
</div>
<div class="px-custom fs-6" [ngClass]="{'d-none': loading}">
  <table #dataTable class="w-100 table table-striped" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
    <thead class="bgGeneral">
    <tr>
      <th class="col-1"></th>
      <th class="col-4">{{resources.title}}</th>
      <th class="col-5">{{resources.description}}</th>
      <th class="col-1">{{resources.category}}</th>
      <th class="col-1"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let interes of intereses">
      <td class="col-1 text-center">
        <div class="text-center pt-2">
          <i class="fa-solid fa-circle me-2" [ngClass]="interes?.activo ? 'text-success':'text-warning'" ></i>
          <div class="btn-group text-center">
            <i class="fa-solid fa-users me-2" data-bs-toggle="dropdown" aria-expanded="false"></i>
            <ul class="dropdown-menu">
              <div class="list-group">
                <button type="button" class="list-group-item list-group-item-action" *ngFor="let usuario of interes?.usuarios">
                  {{usuario?.nombre + ' ' + usuario?.apellidos}}
                </button>
              </div>
            </ul>
          </div>
          <div class="btn-group text-center" >
            <i class="fa-solid fa-fire me-2" data-bs-toggle="dropdown" aria-expanded="false"></i>
            <ul class="dropdown-menu">
              <li  class="text-center">
                <span class="badge rounded-pill text-bg-danger" *ngFor="let evento of interes?.eventos">
                  {{evento?.nombre}}
                </span>
              </li>
            </ul>
          </div>
        </div>
      </td>
      <td class="col-4">{{interes?.titulo}}</td>
      <td class="col-5">{{interes?.descripcion}}</td>
      <td class="col-5">{{interes?.categoria?.titulo}}</td>
      <td class="text-end px-0">
        <div class="dropdown">
            <button
                class="btn btn-link"
                id="navbarDropdownMenuLink"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
            >
                <i class="fa-solid fa-ellipsis-vertical" style="color: red;"></i>
            </button>
            <ul
                class="dropdown-menu dropdown-menu-right position-absolute py-0"
                aria-labelledby="navbarDropdownMenuLink"
            >
                <li>
                    <button
                        class="dropdown-item border-bottom py-3"
                        (click)="editInteres(interes)"
                        data-bs-toggle="modal"
                        data bs-target="#createInteresModal"
                    >
                        <i class="fa-solid fa-pen-to-square me-2"></i>{{resources.modifyInterest}}
                    </button>
                </li>
                <li>
                    <button
                        class="dropdown-item py-3"
                        (click)="deleteInteres(interes)"
                    >
                        <i class="fa-solid fa-trash me-2"></i>{{resources.deleteInterest}}
                    </button>
                </li>
            </ul>
        </div>
    </td>
    </tr>
    </tbody>
  </table>
</div>
<div *ngIf="loading">
  <app-loading></app-loading>
</div>
<app-crear-interes></app-crear-interes>
