.dropdown-menu > li:hover{
  cursor: pointer;
  background-color: #dadada;
}

.px-custom{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.dropdown-menu > li {
  font-size: 0.8rem;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-menu {
  padding: 0;
  min-height: 40px;
}
