<div class="portada d-flex align-items-center justify-content-around fadeIn animated">
  <div class="degradado"></div>
  <div class=" mensaje px-5">
    <span class="d-block">{{ resources.welcomeTo }}</span>
    <span>Badajoz Unida</span>
  </div>
  <div class="logo">
    <img src="../../../../assets/header_logo.png" alt="logo" />
  </div>
</div>
<div class="px-lg-5 my-lg-5 fadeIn animated">
  <div class="bienvenida px-3 px-lg-5 py-4 rounded-2">
    <p>
      {{resources.homeIntro1}}
    </p>
    <p>
      {{ resources.homeIntro2}}
    </p>
    <p>
      {{ resources.homeIntro3 }}
    </p>
  </div>
</div>
<div class="footer-padding enlaces px-5 pt-5">
  <h1 class="d-flex justify-content-center">{{ resources.visitCorners }}</h1>
  <div class="d-flex justify-content-around mt-5 paginas">
    <div class="rounded-pill d-flex flex-column align-items-center justify-content-center col-10 col-lg-3 py-4 my-2 my-md-0" [routerLink]="['/eventos']">
      <span class="fa-regular fa-calendar"></span>
      <h2 class="mt-2">{{resources.events}}</h2>
      <p class="px-4">{{resources.eventsInfo}}</p>
    </div>
    <div class="rounded-pill d-flex flex-column align-items-center justify-content-center col-10 col-lg-3 py-4 my-2 my-md-0" [routerLink]="['/mis-eventos']">
      <span class="fa-regular fa-calendar-check"></span>
      <h2 class="mt-2">{{resources.myEvents}}</h2>
      <p class="px-4">{{resources.myEventsInfo}}</p>
    </div>
    <div class="rounded-pill d-flex flex-column align-items-center justify-content-center col-10 col-lg-3 py-4 my-2 my-md-0" [routerLink]="['/perfil']">
      <span class="fa-solid fa-user"></span>
      <h2 class="mt-2">{{resources.profile}}</h2>
      <p >{{resources.profileInfo}}</p>
    </div>
  </div>
</div>
